USE [master]
GO
/****** Object:  Database [EnglishCenterDB]    Script Date: 5/21/2016 4:46:28 PM ******/
CREATE DATABASE [EnglishCenterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnglishCenterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EnglishCenterDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EnglishCenterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\EnglishCenterDB_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnglishCenterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnglishCenterDB]
GO
/****** Object:  Table [dbo].[answer_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answer_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[answer_id] [nchar](50) NULL,
	[answer_order] [int] NULL,
	[question_id] [nchar](50) NULL,
	[answer_content] [nvarchar](max) NULL,
	[answer_title] [nvarchar](50) NULL,
	[resource_id] [nchar](50) NULL,
	[is_correct] [bit] NULL,
	[notes] [nvarchar](max) NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_answer_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[examination_part_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examination_part_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[examination_id] [nchar](50) NULL,
	[examination_order] [int] NULL,
	[part_id] [nchar](50) NULL,
	[part_order] [int] NULL,
	[part_content] [nvarchar](max) NULL,
	[part_title] [nvarchar](max) NULL,
 CONSTRAINT [PK_examination_part_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[examination_question_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examination_question_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[examination_id] [nchar](50) NULL,
	[question_id] [nchar](50) NULL,
	[question_code] [nchar](10) NULL,
	[examination_order] [int] NULL,
 CONSTRAINT [PK_examination_question_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[examination_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examination_tbl](
	[id] [nchar](50) NOT NULL,
	[name] [nvarchar](max) NULL,
	[num_question] [int] NULL,
	[type] [nchar](10) NULL,
	[course] [nvarchar](max) NULL,
	[course_level] [int] NULL,
	[num_part] [int] NULL,
 CONSTRAINT [PK_examination_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[examination_topic_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[examination_topic_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[topic_id] [nchar](50) NULL,
	[examination_order] [int] NULL,
	[topic_resource_id] [nchar](50) NULL,
	[part_id] [nchar](50) NULL,
	[examination_id] [nchar](10) NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_examination_topic_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[group_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[group_code] [nchar](10) NULL,
	[group_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_group_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[guest_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guest_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](500) NOT NULL,
	[email] [nvarchar](200) NULL,
	[phone_number] [nchar](20) NULL,
	[sent_files] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_guest_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[part_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[part_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[part_id] [nchar](50) NULL,
	[part_title] [nvarchar](max) NULL,
	[part_content] [nvarchar](max) NULL,
	[part_type] [nvarchar](50) NULL,
	[part_resource] [nvarchar](max) NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_part_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[question_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[examination_id] [nchar](50) NULL,
	[question_id] [nchar](50) NULL,
	[question_title] [nvarchar](50) NULL,
	[question_content] [nvarchar](max) NULL,
	[examination_part_id] [nchar](50) NULL,
	[question_order] [int] NULL,
	[question_type] [nchar](50) NULL,
	[num_correct_answer] [int] NULL,
	[total_num_answer] [int] NULL,
	[resource_id] [nchar](50) NULL,
	[notes] [nvarchar](max) NULL,
	[question_code] [nchar](10) NULL,
 CONSTRAINT [PK_question_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[resource_link_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resource_link_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resource_id] [nchar](50) NULL,
	[active] [bit] NULL,
	[url] [nvarchar](250) NULL,
	[location_type] [tinyint] NULL,
	[url_host_name] [nvarchar](150) NULL,
	[resource_type] [nchar](10) NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_resource_link_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[resource_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resource_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[resource_id] [nchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[type] [nchar](10) NULL,
	[location_type] [tinyint] NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_resource_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[role_detail_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_detail_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_code] [int] NULL,
	[function_id] [int] NULL,
	[function_name] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[role_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_code] [int] NULL,
	[role_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_role_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[staff_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[staff_code] [nchar](20) NOT NULL,
	[is_admin] [bit] NULL,
	[group_code] [nchar](10) NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[fullname] [nvarchar](50) NULL,
	[nick_name] [nvarchar](50) NULL,
	[birthday] [datetime] NULL,
	[gender] [nchar](10) NULL,
	[country_name] [nvarchar](50) NULL,
	[country_code] [nchar](3) NULL,
	[marital_status] [tinyint] NULL,
	[address1] [nvarchar](500) NULL,
	[address2] [nvarchar](500) NULL,
	[tel1] [nchar](20) NULL,
	[tel2] [nchar](20) NULL,
	[email1] [nchar](50) NULL,
	[email2] [nchar](50) NULL,
	[manager_code] [nchar](20) NULL,
	[join_date] [datetime] NULL,
	[avatar_path] [nvarchar](500) NULL,
	[status] [nchar](10) NULL,
	[account_status] [nchar](10) NULL,
	[user_name] [nchar](50) NOT NULL,
	[password] [nchar](20) NULL,
	[update_date] [datetime] NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_staff_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[topic_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topic_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[topic_id] [nchar](50) NULL,
	[topic_type] [nchar](50) NULL,
	[topic_title] [nvarchar](max) NULL,
	[topic_content] [nvarchar](max) NULL,
	[topic_resource] [nvarchar](max) NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_topic_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user_answer_question_detail_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_answer_question_detail_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[answer_question_id] [nchar](50) NULL,
	[answer_id] [nchar](50) NULL,
	[answer_content] [nvarchar](max) NULL,
 CONSTRAINT [PK_user_answer_question_detail_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user_answer_question_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_answer_question_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](250) NULL,
	[examination_id] [nchar](50) NULL,
	[part_id] [nchar](50) NULL,
	[question_id] [nchar](50) NULL,
 CONSTRAINT [PK_user_answer_question_tbl] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[user_tbl]    Script Date: 5/21/2016 4:46:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_tbl](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_code] [nchar](20) NULL,
	[user_type] [nchar](10) NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[full_name] [nvarchar](50) NULL,
	[nick_name] [nvarchar](50) NULL,
	[birthday] [datetime] NULL,
	[gender] [nchar](10) NULL,
	[country_name] [nvarchar](50) NULL,
	[country_code] [nchar](3) NULL,
	[marital_status] [tinyint] NULL,
	[address1] [nvarchar](500) NULL,
	[address2] [nvarchar](500) NULL,
	[tel1] [nchar](20) NULL,
	[tel2] [nchar](20) NULL,
	[email1] [nchar](50) NULL,
	[email2] [nchar](50) NULL,
	[referral_code] [nchar](20) NULL,
	[instructor_code] [nchar](20) NULL,
	[join_date] [datetime] NULL,
	[avatar_path] [nvarchar](500) NULL,
	[status] [nchar](10) NULL,
	[account_status] [nchar](10) NULL,
	[user_name] [nchar](50) NULL,
	[password] [nchar](20) NULL,
	[active] [bit] NULL,
	[role_code] [nchar](10) NULL,
	[create_date] [nchar](50) NULL,
	[update_date] [nchar](50) NULL,
	[delete_flag] [bit] NULL,
 CONSTRAINT [PK_user_tbl_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[answer_tbl] ON 

INSERT [dbo].[answer_tbl] ([id], [answer_id], [answer_order], [question_id], [answer_content], [answer_title], [resource_id], [is_correct], [notes], [delete_flag]) VALUES (1, N'an_001                                            ', NULL, N'q_001                                             ', NULL, N'A', NULL, 0, NULL, NULL)
INSERT [dbo].[answer_tbl] ([id], [answer_id], [answer_order], [question_id], [answer_content], [answer_title], [resource_id], [is_correct], [notes], [delete_flag]) VALUES (2, N'an_002                                            ', NULL, N'q_001                                             ', NULL, N'B', NULL, 1, NULL, NULL)
INSERT [dbo].[answer_tbl] ([id], [answer_id], [answer_order], [question_id], [answer_content], [answer_title], [resource_id], [is_correct], [notes], [delete_flag]) VALUES (3, N'an_003                                            ', NULL, N'q_001                                             ', NULL, N'C', NULL, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[answer_tbl] OFF
SET IDENTITY_INSERT [dbo].[examination_part_tbl] ON 

INSERT [dbo].[examination_part_tbl] ([id], [examination_id], [examination_order], [part_id], [part_order], [part_content], [part_title]) VALUES (1, N'exam_001                                          ', 0, N'part_001                                          ', NULL, NULL, NULL)
INSERT [dbo].[examination_part_tbl] ([id], [examination_id], [examination_order], [part_id], [part_order], [part_content], [part_title]) VALUES (2, N'exam_001                                          ', 6, N'part_002                                          ', NULL, NULL, NULL)
INSERT [dbo].[examination_part_tbl] ([id], [examination_id], [examination_order], [part_id], [part_order], [part_content], [part_title]) VALUES (3, N'exam_001                                          ', 11, N'part_003                                          ', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[examination_part_tbl] OFF
SET IDENTITY_INSERT [dbo].[examination_question_tbl] ON 

INSERT [dbo].[examination_question_tbl] ([id], [examination_id], [question_id], [question_code], [examination_order]) VALUES (1, N'exam_001                                          ', N'q_001                                             ', NULL, 1)
INSERT [dbo].[examination_question_tbl] ([id], [examination_id], [question_id], [question_code], [examination_order]) VALUES (2, N'exam_001                                          ', N'q_002                                             ', NULL, 2)
INSERT [dbo].[examination_question_tbl] ([id], [examination_id], [question_id], [question_code], [examination_order]) VALUES (3, N'exam_001                                          ', N'q_003                                             ', NULL, 3)
SET IDENTITY_INSERT [dbo].[examination_question_tbl] OFF
INSERT [dbo].[examination_tbl] ([id], [name], [num_question], [type], [course], [course_level], [num_part]) VALUES (N'exam_001                                          ', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[examination_topic_tbl] ON 

INSERT [dbo].[examination_topic_tbl] ([id], [topic_id], [examination_order], [topic_resource_id], [part_id], [examination_id], [delete_flag]) VALUES (1, N'tp_001                                            ', 42, NULL, N'part_006                                          ', N'exam_001  ', NULL)
INSERT [dbo].[examination_topic_tbl] ([id], [topic_id], [examination_order], [topic_resource_id], [part_id], [examination_id], [delete_flag]) VALUES (2, N'tp_002                                            ', 47, NULL, N'part_006                                          ', N'exam_001  ', NULL)
INSERT [dbo].[examination_topic_tbl] ([id], [topic_id], [examination_order], [topic_resource_id], [part_id], [examination_id], [delete_flag]) VALUES (3, N'tp_003                                            ', 52, NULL, N'part_006                                          ', N'exam_001  ', NULL)
SET IDENTITY_INSERT [dbo].[examination_topic_tbl] OFF
SET IDENTITY_INSERT [dbo].[part_tbl] ON 

INSERT [dbo].[part_tbl] ([id], [part_id], [part_title], [part_content], [part_type], [part_resource], [delete_flag]) VALUES (1, N'part_001                                          ', N'Part 1: ', N'Choose the statement that best describes what you see in the picture.', NULL, NULL, NULL)
INSERT [dbo].[part_tbl] ([id], [part_id], [part_title], [part_content], [part_type], [part_resource], [delete_flag]) VALUES (3, N'part_002                                          ', N'Part II: ', N'Listen to the questions and choose the best answer.', NULL, NULL, NULL)
INSERT [dbo].[part_tbl] ([id], [part_id], [part_title], [part_content], [part_type], [part_resource], [delete_flag]) VALUES (4, N'part_003                                          ', N'Part III:', N'Choose the best answer to each question.', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[part_tbl] OFF
SET IDENTITY_INSERT [dbo].[question_tbl] ON 

INSERT [dbo].[question_tbl] ([id], [examination_id], [question_id], [question_title], [question_content], [examination_part_id], [question_order], [question_type], [num_correct_answer], [total_num_answer], [resource_id], [notes], [question_code]) VALUES (1, N'exam_001                                          ', N'q_001                                             ', N'1.', NULL, NULL, NULL, N'type1                                             ', 1, 4, N'rs_001                                            ', NULL, NULL)
INSERT [dbo].[question_tbl] ([id], [examination_id], [question_id], [question_title], [question_content], [examination_part_id], [question_order], [question_type], [num_correct_answer], [total_num_answer], [resource_id], [notes], [question_code]) VALUES (2, N'exam_001                                          ', N'q_002                                             ', N'2.', NULL, NULL, NULL, N'type1                                             ', 1, 4, N'rs_002                                            ', NULL, NULL)
INSERT [dbo].[question_tbl] ([id], [examination_id], [question_id], [question_title], [question_content], [examination_part_id], [question_order], [question_type], [num_correct_answer], [total_num_answer], [resource_id], [notes], [question_code]) VALUES (3, N'exam_001                                          ', N'q_003                                             ', N'3.', NULL, NULL, NULL, N'type1                                             ', 1, 4, N'rs_003                                            ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[question_tbl] OFF
SET IDENTITY_INSERT [dbo].[resource_link_tbl] ON 

INSERT [dbo].[resource_link_tbl] ([id], [resource_id], [active], [url], [location_type], [url_host_name], [resource_type], [delete_flag]) VALUES (1, N'rs_001                                            ', NULL, N'http://ece.com.vn/wp-content/uploads/2015/08/12.png', NULL, NULL, N'image     ', NULL)
INSERT [dbo].[resource_link_tbl] ([id], [resource_id], [active], [url], [location_type], [url_host_name], [resource_type], [delete_flag]) VALUES (2, N'rs_002                                            ', NULL, N'http://ece.com.vn/wp-content/uploads/2015/08/11.png', NULL, NULL, N'image     ', NULL)
INSERT [dbo].[resource_link_tbl] ([id], [resource_id], [active], [url], [location_type], [url_host_name], [resource_type], [delete_flag]) VALUES (3, N'rs_003                                            ', NULL, N'http://ece.vn/wp-content/uploads/2014/06/u-5-3.jpg', NULL, NULL, N'image     ', NULL)
SET IDENTITY_INSERT [dbo].[resource_link_tbl] OFF
SET IDENTITY_INSERT [dbo].[resource_tbl] ON 

INSERT [dbo].[resource_tbl] ([id], [resource_id], [name], [type], [location_type], [delete_flag]) VALUES (1, N'rs_001                                            ', NULL, N'image     ', NULL, NULL)
INSERT [dbo].[resource_tbl] ([id], [resource_id], [name], [type], [location_type], [delete_flag]) VALUES (2, N'rs_002                                            ', NULL, N'image     ', NULL, NULL)
INSERT [dbo].[resource_tbl] ([id], [resource_id], [name], [type], [location_type], [delete_flag]) VALUES (3, N'rs_003                                            ', NULL, N'image     ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[resource_tbl] OFF
SET IDENTITY_INSERT [dbo].[topic_tbl] ON 

SET IDENTITY_INSERT [dbo].[topic_tbl] OFF
USE [master]
GO
